@import "tailwindcss";

@theme {
  --color-primary: #a855f7;
  --color-primary-100: #d8b4fe;
  --color-primary-200: #c084fc;
  --color-primary-300: #a855f7;
  --color-primary-500: #7e22ce;
}

body {
  @apply bg-black text-white overflow-x-hidden;
}

.gradient-text {
  @apply font-bold bg-clip-text text-transparent;
  background-image: linear-gradient(to right, var(--color-primary-200), white);
}

.btn-primary-gradient {
  background-image: linear-gradient(to right, #6a11cb, #f9b5ff);
  @apply text-white border-none;
}

.btn-primary-gradient:hover {
  box-shadow: 0 0 15px 5px rgba(222, 194, 255, 0.2);
}

.header-gradient {
  background: linear-gradient(220deg, #D437C0, #7e22ce);
  background-size: 400% 400%;
}

@keyframes gradientBackground {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}

.animate-gradientBackground {
  animation: gradientBackground 9s ease infinite;
}

.animate-blink {
  animation: blink 1.5s infinite;
}

::selection {
  background-color: var(--color-primary);
  color: black;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-300);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}